<!DOCTYPE html>
<head>
	<title>Rochester Makers</title>
	<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
	<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
</head>

<body>
	<div id="container">
		{% include "parts/topbar.html" %}
		<div id="title">
			<img src="img/TimesLogo.png"/>
			<h1>The Rochester Beat</h1>
		</div>
		<div id="quote-block">
			<p><span class="quote">"What we do during our working hours determines what we have; what we do in our leisure hours determines what we are."</span><br><span class="author">-George Eastman</span></p>
		</div>
		<div id="menu-block">
			<ul>
			<li class="menu"><a href="/">feed</a></li>
			<li class="menu"><a href="/events">events</a></li>
			<li class="menu"><a href="/contact">contact</a></li>
			</ul>
		</div>
		<div class="content">

		{% block body %}{% endblock %}

		</div>
	</div>
		<footer>Copyright <span id='year'></span><script>$("#year").text( (new Date).getFullYear() );</script>
		</footer>
</body>

